* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    position: relative;
}
/*.img-container {
    text-align: center;
   
}*/
.img-container :hover   {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    }
    @keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    } 
.about-left {
    width: 100%;
    height: 620px;
    background-image: url("272138-P5OO85-689.jpg");
    background-position: center;
    background-size: cover;
    
}


img {
    border-radius: 50%;
    height: 200px;
    margin-top: 10px;
}
#logo {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

ul {
    display: flex;
    background-color: white;
    justify-content: center;
    margin-left:auto;
    padding: 10px;
   
}
.header {
    position: absolute;
    top: 40px;
    left: 20%;
    border: 1px solid white;
    background-color:  #ffa200;
    box-shadow: 4px 4px 19px  rgb(94, 91, 91);
    text-align: center;
    border: none;
    width: 27%;
    color: white;
}


h4,h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

li {
    margin-left: 10px;
    margin-right: 10px; 
    padding: 10px;
    background-color: #ffa200;;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    list-style-type: none;
  
}
ul :hover {
    transform:  translateY(-10px);
}
hr {
    margin-left: 40px;
    margin-right: 40px;
}
i {
    font-size: 16px;
    color: white;
    text-align: center;
}

.about-right {
    margin-left: 10%;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
   
   
}
span {
    color:  #ffa200; 
} 


h1 {
    font-size: 80px;
    font-family: cursive;
    margin-top: 50px;
}
h6 {
    font-size: 35px;
}
a {
    text-decoration: none;
    color: white;
}
.btn {
    display: flex;
    flex-direction: row;
   padding: 20px;
   margin-left: 20px;
}
.btn1 {
    padding-left: 20px;
    padding: 7px;
    background-color:  #ffa200;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    width: 100PX;
    cursor: pointer;
    margin-left: 10%;
}
.btn3 {
    padding-left: 20px;
    padding: 7px;
    background-color:  #ffa200;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-left: 10%;
}
.btn2 {
    width: 100PX;   
    padding: 7px;
    background-color:  #ffa200;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-left: 10%;
}

p {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bold;
}
#peexoo-link {
       color: #ffa200;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 0.5s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
    
    @media only screen and (max-width: 1030px) {
        .container {
            display: block;
            position: relative;
        }
        .header {
            position: absolute;
            top: 40px;
            left: 15%;
            width: 70%;
        }
        .about-left {
            align-items: center;
            width: 100%;
           
        }
        .about-right {
            
            margin-left: 5%;
            background-color: white;
            align-items: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px; 
            width: 90%;
        }
        h6 {
            font-size: 18px;
        }
        h1 {
            font-size: 60px;
        }
        ul :hover {
            transform:  none;
        }
        .btn1 {
            padding-left: 10px;
            padding: 7px;
            background-color:  #ffa200;
            color: white;
            font-weight: bold;
            border-radius: 15px;
            border: none;
            width: 100PX;
            cursor: pointer;
            margin-left:5%;
        }
        .btn3 {
            padding-left: 20px;
            padding: 7px;
            background-color:  #ffa200;
            color: white;
            font-weight: bold;
            border-radius: 15px;
            border: none;
            width: 30%;
            cursor: pointer;
            margin-left: 2%;
        }
        .btn2 {
            width: 100PX;   
            padding: 7px;
            background-color:  #ffa200;
            color: white;
            font-weight: bold;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            margin-left: 2%;
            margin-right: 50px;
        }
        p {
            padding-left: 5%;
            padding-right: 5%;
            font-weight: bold;
            padding-bottom: 10px;
        }
        
    }

    